/* Import the Lato font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.header-emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

/* Apply styles to the main title */
.header-title {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  text-align: center;
  color: white;
  background-color: #333; /* Dark background color for the main title */
  padding: 20px;
  margin-bottom: 20px;
}

.header-description {
    color: #CFCFCF;
    font-size: 26px;
    font-family: 'Lato', sans-serif;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}

/* Apply styles to the title of each graph */
.card-title {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  color: #333; /* Text color for the graph titles */
  margin-bottom: 10px;
}

/* Apply styles to the container of each graph */
.card {
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
} 

/* Apply styles to the container wrapping the 3 graphs */
.graphs-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

/* Apply styles to the header container */
.header-container {
    background-color: #222222;
    height: 288px;
    padding: 16px 0 0 0;
}

/* Apply styles to the 'daterangepicker' class */
.daterangepicker {
  width: 300px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the element horizontally */
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  background-color: #FFFFFF; /* Set the background color for the element */
  text-align: center; /* Center the content within the element */
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #333; /* Text color for the 'daterangepicker' */
}
